.error-message {
  background: rgb(151, 0, 0);
  color: #fffbeb;
  padding: 10px;
  display: flex;
  align-items: center;
}

.exclamation {
  font-size: 24px;
  font-weight: 900;
  margin-right: 5px;
}
