.item-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 300px;
  min-height: 300px;
  margin: 15px;
}

.item-card__price,
.item-card__title,
.item-card__actions {
  padding: 6px;
}

.item-card__image {
  height: 200px;
  width: 100%;
  overflow: hidden;
}

.item-card__image > img {
  object-fit: cover;
  height: 200px;
  width: 100%;
  transition: all 0.3s;
}

.item-card__image:hover > img {
  transform: scale(1.2);
}

.item-card__actions,
.item-card__price {
  display: flex;
  justify-content: flex-end;
}

.item-card__link {
  text-decoration: none;
}
