.modal-container {
  z-index: 5;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  z-index: 5;
  min-width: 300px;
  min-height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.modal-header {
  display: flex;
  justify-content: space-between;
  padding: 6px;
  margin-bottom: 10px;
}

.modal-content {
  padding: 6px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.modal-actions {
  display: flex;
  justify-content: flex-end;
  padding: 6px;
}
