.navbar-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  min-height: 150px;
  overflow: auto;
  background: #251749;
}

.nav-buttons {
  display: flex;
  align-items: center;
}

.user-buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.user-buttons > .primary-btn {
  height: 100%;
}

#toggler {
  display: inline-block;
  color: #fffbeb;
  background: #251749;
  padding: 2px 6px;
  font-weight: 900;
}

.cart-closed {
  transform: rotateZ(0.5turn);
}

.btn:hover > #toggler {
  color: #251749;
  background: #fffbeb;
}
