.navbar-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  min-height: 150px;
  overflow: auto;
  background: #251749;
}

.nav-buttons {
  display: flex;
  align-items: center;
}

.user-buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.navbar-container .inverted-btn {
  height: 100%;
}

.cart-block {
  max-width: 300px;
  min-width: 300px;
}

.cart-block .btn {
  font-size: 16px;
}
