.navbar-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  min-height: 150px;
  overflow: auto;
  background: #251749;
}

.nav-buttons {
  display: flex;
  align-items: center;
}

.user-buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.user-buttons > .primary-btn {
  height: 100%;
}
