.quantity-controller {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90px;
  padding: 6px 10px;
  background: #251749;
  box-shadow: 3px 3px 0px #fffbeb;
  margin-bottom: 3px;
}
