.item-page {
  display: flex;
  align-items: flex-start;
  width: 800px;
  flex-wrap: wrap;
  margin: 10px 15px;
  align-self: self-start;
}

.item-page__image {
  width: 300px;
}

.item-page__image > img {
  object-fit: cover;
  width: 300px;
}

.item-page__info {
  padding: 6px;
  flex-basis: 0;
  flex-grow: 1;
}

.item-page__cart {
  display: flex;
  justify-content: flex-end;
  align-self: flex-end;
}

.item-page__cart > .btn {
  margin-left: 20px;
}

.quantity-controller > .icon-btn {
  font-size: 30px;
  font-weight: 700;
}

.item-page__description {
  display: inline-block;
  padding: 6px;
  margin-top: 10px;
}
