* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat Alternates", "Montserrat", sans-serif;
}

body {
  background: linear-gradient(45deg, #495579, #263159, #251749);
  background-attachment: fixed;
  min-height: 100vh;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
